.navbar {
	display: flex;
	padding: 40px 300px;
	justify-content: space-between;
	color: white;
	background: #2b2b2b;
}

.nav-heading {
	margin: 0;
}

.nav {
	list-style: none;
	margin: 0;
	display: flex;
	justify-content: space-around;
}

.nav-item {
	margin: 0 50px;
	padding: 0;
	text-decoration: none;
	color: white;
}
